*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	width: 100%;
	min-width: 320px;
	margin: 0;
}

* {
	font-family: 'Inter';
	font-style: normal;
}

.top-header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2em;
	padding-block: 30px;
	align-items: center;
}

.top-header .name {
	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
	gap: 16px;
}

.nav a {
	text-decoration: none;
	color: #000;
}

.social-link img {
	width: 20px;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
	min-height: 300px;
}

#about img {
	max-width: 100%;
	height: auto;
	width: 600px;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 20%;
	max-width: 500px;
	height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -100;
}

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

.picture img {
	width: 100%;

}

#about-me {
	flex: 2
}

.about-me__title {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}

.about-me__introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	width: 60%;
	font-size: 1rem;
}

#about-me p {
	width: 80%;
	font-size: 14px;
}

#gallery {
	min-height: 100vh;
}

.title {
	text-align: center;
	padding-block: 2em;
}

.gallery .nav {
	justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #BEB45A;
	border-radius: 0;
}

.nav-pills .nav-link {
	color: #000
}

.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}

.item-column::after {
	content: "";
	display: block;
	padding-bottom: 100%;

}

.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}

.mg-prev,
.mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}

.quote__text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;

}

.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8;
	position: relative;
}

#services .container::before {
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding: 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}

.form-container {
	flex: 2;

}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

.coordonnees {
	background-color: #BEB45A;
	padding: 20px;
}

.icon-coordonnees {
	margin-right: 5px;
	margin-left: 2px;
}

.coordonnees a {
	color: black;
	text-decoration: none;
	transition: color 0.3s ease;
}

.coordonnees p {
	width: 50%;
}

.social-link-coordonnees img {
	width: 20px;
	margin-right: 5px;
}

#contact {
	margin: auto;
	padding-bottom: 30px;
}

#contact .coordonnees {
	margin-top: 50px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/*MODAL*/
.modal-body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lightboxImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

@media (max-width: 1440px) {

	/*PHOTOS*/
	.picture {
		width: 30%;
	}

	/*SECTION SERVICES PROPOSES*/
	.service {
		width: 30%;
	}
}

@media (max-width: 1024px) {

	/*SECTION A PROPOS*/
	#about {
		padding-block: 32px;
		width: 100%;
	}

	.about-me__title {
		margin: 0 0 1em;
		text-align: left;
	}

	/*SECTION SERVICES PROPOSES*/
	.service {
		width: 45%;
	}

	#services .container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 50px;
	}
}

@media (max-width: 768px) {

	/*HEADER*/
	.top-header {
		flex-direction: column;
		gap: 20px;
		margin-right: 25px;
		width: 100%;
		justify-content: center;
	}

	/*TITRE*/
	.title {
		padding-bottom: 0;
	}

	/*MENU*/
	.nav {
		display: flex;
		flex-wrap: nowrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		margin-right: 24px;
	}

	/*SECTION A PROPOS*/
	.picture.left::before {
		display: none;
	}

	#about {
		padding: 30px;
	}

	.about-me__introduction {
		width: 80%;
	}

	.about-me__title {
		margin: 0 0 1em;
		text-align: left;
	}

	/*SECTION SERVICES PROPOSES*/
	.picture.left::before {
		display: none;
	}

	.service {
		width: 80%;
	}

	#services .container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 50px;
	}

	/*FOOTER*/
	footer .picture img {
		display: none;
	}

	.coordonnees p {
		width: 100%;
	}

	.form-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#contact .container {
		flex-direction: column;
	}

	#contact {
		padding: 50px;
	}

	form {
		width: 100%;
	}
}

@media (max-width: 425px) {

	/*SECTION A PROPOS*/
	.picture.left {
		width: auto;
		margin-bottom: 20px;
	}

	#about {
		display: flex;
		flex-direction: column;
	}

	#about-me {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/*SECTION GALERIE PRINCIPALE*/
	#gallery {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 10px;
	}

	.gallery .nav {
		flex-wrap: wrap;
	}
}

@media (max-width: 375px) {

	/*MENU*/
	.nav ul {
		gap: 16px;
		min-width: 328px;
		margin-bottom: -10px;
	}
}